#character {
	width: 200px;
	margin: -31px 0px 0px -76px;
}

#character-hitbox {
	width: 33px;
	height: 88px;
	position: absolute;
}
#coin {
	width: 200px;
	margin: -38px 0 0 -86px;
}

#coin-hitbox {
	width: 28px;
	height: 29px;
	overflow: hidden;
	position: absolute;
}
